<!DOCTYPE html>
<html>
<head>
<script>

function startTime() {
    var d = new Date();
    document.getElementById('txt').innerHTML = d
     var t = setTimeout(startTime, 500);
}

</script>
</head>

<body onload="startTime()">

<div id="txt"></div>

<center><h1>How about a game of skulls and crossbones?<h1></center>

<img class="irc_mi" src="https://lh3.googleusercontent.com/-GcgnsF3Dlh0/WY0da91pHhI/AAAAAAAACCA/Kjd9yqik6lgIKlBLB07BybuFUQdAUiRfgCJoC/w1080-h1920/blue%2Bfire%2Bskull%2BGIF.gif" style="float:right; width="100" height="300"">

<img class="irc_mi" src="https://lh3.googleusercontent.com/-GcgnsF3Dlh0/WY0da91pHhI/AAAAAAAACCA/Kjd9yqik6lgIKlBLB07BybuFUQdAUiRfgCJoC/w1080-h1920/blue%2Bfire%2Bskull%2BGIF.gif" style="float:left; width="100" height="300"">
    <center>Wimp</center>
<center><b><form method="post" action="/play" play_type="wimp">
<table>
    <tr>   
        <td>
<input type="hidden" name="a1" value="">
<input type="input" name="a1" size="3"> 
        </td>
         

         <td>
<input type="hidden" name="a2" value="">
<input type="input" name="a2" size="3"> 
        </td>

         <td>
<input type="hidden" name="a3" value="">
<input type="input" name="a3" size="3"> 
        </td>
    </tr>

    <tr>
        <td>
<input type="hidden" name="a4" value="">
<input type="input" name="a4" size="3"> 
        </td>

        <td>
<input type="hidden" name="a5" value="">
<input type="input" name="a5" size="3">
        </td>

       <td>
<input type="hidden" name="a6" value="">
<input type="input" name="a6" size="3"> 
        </td>
</tr>

    <tr>
        <td>
<input type="hidden" name="a7" value="">
<input type="input" name="a7" size="3">
        </td>
        
        <td>
<input type="hidden" name="a8" value="">
<input type="input" name="a8" size="3">
        </td>
        
        <td>
<input type="hidden" name="a9" value="">
<input type="input" name="a9" size="3">
        </td>
    </tr>
</table>

<input type="submit" name="play_type" value="wimp"><b></center>
    <br>
    <br>
<center><img class="irc_mi" src="https://www.picclickimg.com/d/l400/pict/152749250614_/3x5-PIRATE-FLAG-Dead-Men-Tell-No-Tales.jpg" alt="Image result for crossbones gifs" width="304" height="182"></center>
<br>
<center>Warrior</center>
<center><b><form method="post" action="/play" play_type="warrior">
<table>
    <tr>   
        <td>
<input type="hidden" name="a1" value = "">
<input type="input" name="a1" size="3"> 
        </td>
         

         <td>
<input type="hidden" name="a2" value = "">
<input type="input" name="a2" size="3"> 
        </td>

         <td>
<input type="hidden" name="a3" value = "">
<input type="input" name="a3" size="3"> 
        </td>
    </tr>

    <tr>
        <td>
<input type="hidden" name="a4" value = "">
<input type="input" name="a4" size="3"> 
        </td>

        <td>
<input type="hidden" name="a5" value = "">
<input type="input" name="a5" size="3">
        </td>

       <td>
<input type="hidden" name="a6" value = "">
<input type="input" name="a6" size="3"> 
        </td>
</tr>

    <tr>
        <td>
<input type="hidden" name="a7" value = "">
<input type="input" name="a7" size="3">
        </td>
        
        <td>
<input type="hidden" name="a8" value = "">
<input type="input" name="a8" size="3">
        </td>
        
        <td>
<input type="hidden" name="a9" value = "">
<input type="input" name="a9" size="3">
        </td>
    </tr>
</table>

<input type="submit" name="play_type" value="warrior"><b></center>
    <br>
    <br>