<head>
<link href="/css/main.css" rel="stylesheet">
<title>
tictactoe
</title>
</head>
<body>
    <div class="tictactoe">   
        <%=yield%>
    </div>
</body>
<footer>
    <div class="tictactoe"> 
        Program created by Kris Folds
        <br>
        WV KIDD
    </div>
</footer>
